<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome Here
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="gotoSignUp()" expand="block" color="primary">SignUp</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        or
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Already a user?
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="gotoSignIn()" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>